.container {
    display: flex;
    height: 100vh;
    height: calc(100vh - 9rem); 
  }
  
.sidebar {
  width: 20%;
  background-color: white;
  border-right: 2px solid #ddd;
  padding: 20px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
}

.menu-img {
  width: 90px;
  height: 90px;
}

.menu-item:hover {
  background: #ffcc00;
}

.menu-item.active {
  background: #ffcc00;
  font-weight: bold;
}

.content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 9rem);
}

.ant-list .ant-list-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  gap: 16px;
  border-bottom: 1px solid #ddd;
}

.product-img {
    width: 90px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.product-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 16px;
}

.product-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}